header{
    height: 100px;
    background-color: rgb(63 81 181);
}
body{
    margin: 0 -15px;
    overflow-x: hidden;
}
.menu h1{
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
header nav ul{
    list-style-type: none;
    
}
header nav ul li{
    padding-top: 14px;
    padding-top: 2px;
    float: right;
    margin-right: 50px;
   
    
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 26px;
}

header nav ul li a:hover{
    color: rgb(180 183 188);
    text-decoration: underline;
}


.list .container{
    margin-top: 25px;
}






.list-group-item{
    
    padding: 0.5em;
    font-size: 25px;
    align-items: center;
}

li .item-check {
    margin-right: 1rem;
    float: right;
    
}

li .item-date-set{
    visibility: hidden;
}

li .textfield
{
    visibility: hidden;
    display: none;
    width: 150px;
}
li .item-text{
    width: 200px;
    align-self: center;
}
li .rm-btn, .edit-btn, .add-button{
    
    outline: none;
    border: none;
    background-color: white;
}

li.complete .edit-btn{
    visibility: hidden;
    display: none;
}




.add-text {
    border: none;
    border-bottom: 1px solid blue;
    width: 250px;
}

ion-icon {
    pointer-events: none;
  }
ion-icon[name=add-outline]{
    background-color: #3f51b5;
    color: white;
    font-size: 30px;
}
li:not(.complete) .textfield.editing, 
li:not(.complete) .item-date-set.editing{
    
    visibility: visible;
    display: inline-block;
    text-decoration: none;
}
li.complete,
li.complete .item-date-set,
li.complete input .item-check,
li.complete button,
li.complete ion-icon
{
    
    text-decoration: line-through;
    background-color: rgb(223, 223, 223);
    opacity: 0.75;
}







